<header class="header">
  <nav class="navbar bg-rawg  navbar-expand-lg py-2 fixed-top" aria-label="Main">
    <div class="container">
      <a class="navbar-brand d-inline-flex rawg-logo" href="/"> RAWG</a>
      <button class="navbar-toggler" type="button" 
        
        data-bs-toggle="offcanvas" data-bs-target="#rawg-nav"
         aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbar">
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="/games"  class="nav-link" >Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/genres">Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/platforms">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tags">Tags</a>
          </li>
        </ul>

      
      </div>
    </div>
  </nav>
</header>